.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 91px;

  border-bottom: 1px solid var(--dark-blue);
}

.headerContent {
  display: flex;
  align-items: center;
  width: 1210px;

  h2 {
    color: var(--title)
  }
}

.contentContainer {
  display: flex;
  justify-content: space-between;
  margin-left: 54px;
  width: 83%;


  nav, div {
    display: flex;
    a {
      color: var(--title);

      & + a {
        margin-left: 2rem;
      }
    }
  }

}
