.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  height: 91px;
}

.headerContent {
  display: flex;
  align-items: center;
  background-color: yellow;
  width: 1210px;
}

.sections {
  display: flex;
  margin-left: 54px;
  // flex-direction: row;
}